<div class="container">
        <div class="row">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>                                                                                                                                                                
    <div class="quot" *ngFor='let quote of quotes;let i = index'>
     <div class ="q1">
        <h3>{{quote.quot}}</h3>
    </div>
        <button  id="but" type="submit" class="btn btn-success btn-lg" (click)='checkDetails(i)'> Check more</button>
        <app-quotes-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quotes-details>
    </div>

