<div class="container">
        <div class="row">
            <app-quote-form></app-quote-form>
        </div>
    </div>                                                                                                                                                                
    <div *ngFor='let quote of quotes;let i = index'>
     <div class ="q1">
        <h3>{{quote.quot}}</h3>
    </div>
        <button (click)='checkDetails(i)'> Check more</button>
        <app-quotes-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quotes-details>
    </div>

